<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Training Suite" verbose="1" parallel="false">
  <test name="All Tests">
    <classes>
      <class name="com.aw.tests.SampleSeleniumTest"/>
      <class name="com.aw.tests.SampleRestAssuredTest"/>
    </classes>
  </test>
  <listeners>
  </listeners>
  <suite-files>
  </suite-files>
  <packages>
  </packages>
</suite>


